footer {
    background-color: $color19;
    color: $color20;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    padding: 0px 50px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}