@import "variables";
@import "mixin";
@import "header";
@import "nav";
@import "footer";

body{
    margin: 0%;
    padding: 0%;
}

header{
    

    #logo{
        height: 80px;
    }

    #lupa{
        height: 40px;
    }
}

.inicio{
    background-color: none;
    display: flex;
    justify-content: center;
    // @include cuadro(#f9c0c0, 200px);
}

.half{
    // margin: 20px;
    // padding: 10px;

    #ropa{
        width: 100%;
        height: auto;
    }
}